.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/clima2.jpg');
  background-position: center;
  background-size: cover;
}